.horizontalView {
    display: flex;
    flex-direction: row;

    background-color: lightgray;

    div {
        cursor: pointer;

        &:hover {
            background-color: lightsteelblue;
        }
    }
}