form {
    margin: 20px;
}

.horizontal {
    display: flex;
    flex-direction: row;

    span {
        flex-grow: 5;
    }
}

.formButtons {
    @extend .horizontal;

    margin-top: 20px;
    align-content: center;
    justify-content: space-between;
}

.hide {
    display: none;
}